# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_c_compilerclangpython2.7
    - CONFIG=osx_c_compilerclangpython3.6
    - CONFIG=osx_c_compilerclangpython3.7
    - CONFIG=osx_c_compilertoolchain_cpython2.7
    - CONFIG=osx_c_compilertoolchain_cpython3.6
    - CONFIG=osx_c_compilertoolchain_cpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "izAPiQIaWG2SY4j4oRPnFIzKfiIVOb58vGZkTs3Gb+lKuchO4f67ptkGtP+0KjHbBApmPWeDYZpj5+kViAq4snfwr/vHKMh20lBrQYAmEDCzrC4M/P/YLbYbYRa+wRJkTc0AtIqsJM56H55SrBJWZhnlmuUlzqWJSE4CrgZBduO16s+UJ8Z1HCGSunac4nSSzvPSXQeoSGtxFkfPlu1/F9CU3AG6JYH7qew1lofqsyeFZbgEkOn6uNGCICeDQZGN4ee0so/8Ta7clRqGBC50A1mrHDeR77/pL2k3KdDNZMRxjXY33BDKQwT/pUhf4g8QPQadrL3phNXYYakMlM24AGzBAMidt9s2KaE8aEEGxbh+iC3h5iF9rEO1ycvDMC9JRzQfZw8LWrbL+urk5o46X9yFH+2J5QWVPHNShHn42DxEpn2yMvqQ8y1jja+ztRvQ+jB0vv3+dq1iMSNn2FVJoMWIXY6Vf+eDR3/OmCKmfROFWI9E1/izyNKpCFl2U+fTSwLckH4LhDlDtTFuCLLiNJ7TmAKWZKxMD0K+u7vRtjJv9QaHoZ2gChEV48Q9Cm2EthqB6+kqS81756J86JofTIUeWWOHSQ37RqkK1QyPI4ig+PcGccgqZ0Am8k0HA9N9Y33ReTw91xveaJ/pmAnZqijbt9HJ/zpHkQ/nbHpjQFA="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml